html,body {
    height: 100%;
    padding-bottom: 20px;
}

/*#emergencies_called,*/
/*#bodies_reported {*/
/*    width: 100%;*/
/*}*/

#footer {
    background-color: beige;
}

.pad-20 {
    padding: 20px 0;
}